/* style.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    grid-template-rows: repeat(5, 1fr); /* 5 linhas */
    gap: 0px; /* Espaço entre os quadrados */
    position: absolute;
}

.square {
    width: 100%; /* Largura de cada quadrado */
    height: 100%; /* Altura de cada quadrado */
    background-color: #0000ff; /* Cor de fundo do quadrado */
}

.permahover {
    background-color: rgba(2,2,2,0.7);
    transition: background-color 1s; /* Transição suave da cor de fundo */
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    
} 

.video-container video{
    filter: grayscale(100%);
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.text-container{
    font-family: 'Unbounded', sans-serif;
    color: white;
    position: absolute;
    bottom: 25%;
    left: 8%;
}

.text-container #title{
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

.text-container #subtitle{
    font-size: 1.5rem;
}

